<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        #map-canvas {
            height: 100vh;;
            weight: 100%
        }
    </style>
</head>
<body>
<div id="map-canvas"></div>
<script>
    var directionsDisplay, directionsService;

    function showMap() {
        var path = [{{map}}];
        var zoom = 13;
        var center = {"lat": 32.8205862, "lng": -96.8719689};
        var directionsService = new google.maps.DirectionsService;

        var map1 = new google.maps.Map(document.getElementById("map-canvas"), {
            zoom: zoom,
            center: center,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        });
        var marker1 = new google.maps.Marker({
                    position: new google.maps.LatLng(center),
                    map: map1
                });
        var activity_route = new google.maps.Polyline({
         path: path,
         geodesic: false,
         strokeColor: '#550FFF',
         strokeOpacity: 1.0,
         strokeWeight: 4,
         map: map1
     });
    }

    // google.maps.event.addDomListener(window, "load", showMap);
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&ext=.js&key={{ context.key }}&callback=showMap">
</script>
</body>
</html>